<div id="formOfferModal" class="hidden fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:items-start">
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <div class="flex justify-between">
                            <h3 class="text-lg leading-6 font-medium text-gray-900" id="form-modal-title">
                            </h3>
                            {% include 'pages/offer/_delete_form.html.twig' %}
                        </div>
                        <div class="mt-2">
                            {{ form_start(form, {'attr': {'id': 'offer_form'}}) }}
                            <div class="my-4 text-gray-600">
                                {{ form_row(form.title) }}
                            </div>
                            <hr>

                            <div>
                                <h3 class="mt-4 text-xl">Notification <em class="font-italic text-lg">(Facultatif)</em></h3>
                                <div class="my-4 text-gray-600">
                                    {{ form_row(form.notified_on) }}
                                </div>
                                <div class="my-4 text-gray-600">
                                    {{ form_row(form.notified_after_store) }}
                                </div>
                            </div>

                            <hr>
                            <div>
                                <h3 class="mt-4 text-xl">Attribution <em class="font-italic text-lg">(Facultatif)</em></h3>
                                <div class="my-4 flex">
                                    <div class="form-check form-switch">
                                        {{ form_row(form.new_customer) }}
                                    </div>
                                </div>
                                <div class="my-4 flex">
                                    <div class="form-check form-switch">
                                        {{ form_row(form.all_customer) }}
                                    </div>
                                </div>
                                <div class="my-4 flex">
                                    <div class="form-check form-switch">
                                        {{ form_row(form.after_visit_store) }}
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <div>
                                <h3 class="mt-4 text-xl">Durée de l'offre <em class="font-italic text-lg">(Facultatif)</em></h3>
                                <div class="my-4 text-gray-600">
                                    {{ form_row(form.start_offer_on) }}
                                </div>
                                <div class="my-4 text-gray-600">
                                    {{ form_row(form.end_offer_on) }}
                                </div>
                            </div>

                            <div class="flex justify-end">
                                <button onclick="formOfferModal()" type="button" class="bg-gray-600 py-1 px-3 text-white rounded-md shadow-md border border-gray-200 mr-5">Fermer</button>
                                <button type="submit" class="bg-green-600 py-1 px-3 text-white rounded-md shadow-md border border-gray-200">{{ button_label|default('Enregistré') }}</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function formOfferModal(id = null) {
        let modal = document.getElementById('formOfferModal');
        modal.classList.toggle('hidden');

        let modalTitle = document.getElementById('form-modal-title');

        modalTitle.textContent = 'Ajouter une offre';
        document.getElementById('offer_form').setAttribute('action', 'http://127.0.0.1:8000/offres/nouveau')

        if (id != null) {
            let url = 'http://127.0.0.1:8000/offres/'+id;
            fetch(url, {
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                method: 'GET',
            })
                .then((resp) => resp.json())
                .then( function(data) {
                        modalTitle.textContent = 'Modifier une offres';
                        document.getElementById('offer_form').setAttribute('action', 'http://127.0.0.1:8000/offres/editer/'+id)

                        console.log(data)
                        document.getElementById('offer_delete').classList.remove('hidden');
                        document.getElementById('offer_delete').setAttribute('action', 'http://127.0.0.1:8000/offres/'+id);
                        document.getElementById('offer_title').value = data.title;
                        document.getElementById('offer_notified_on').value = data.notified_on;
                        document.getElementById('offer_notified_after_store').value = data.notified_after_store;
                        document.getElementById('offer_new_customer').value = data.new_customer;
                        document.getElementById('offer_all_customer').value = data.all_customer;
                        document.getElementById('offer_after_visit_store').value = data.after_visit_store;
                        document.getElementById('offer_start_offer_on').value = data.start_offer_on;
                        document.getElementById('offer_end_offer_on').value = data.end_offer_on;
                        document.getElementById('offer_id').value = data.id;

                        if (data.new_customer) document.getElementById('offer_new_customer').setAttribute('checked', '');
                        if (data.all_customer) document.getElementById('offer_all_customer').setAttribute('checked', '');
                        if (data.after_visit_store) document.getElementById('offer_after_visit_store').setAttribute('checked', '');
                    }
                );
        }
    }
</script>